MCU_MODEL = STM32L476R(C-E-G)Tx
CHIBIOS_VERSION = 3.0

HEADER

/*
 * Setup for STMicroelectronics STM32 Nucleo32-L476RG board.
 */

/*
 * Board identifier.
 */
#define BOARD_ST_NUCLEO64_L476RG
#define BOARD_NAME                  "STMicroelectronics STM32 Nucleo64-L476RG"

/*
 * Board oscillators-related settings.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                32768U
#endif

#define STM32_LSEDRV                (3U << 3U)

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                8000000U
#endif

#define STM32_HSE_BYPASS

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#define STM32L476xx

/*
 * IO pins assignments.
 */
CONFIG
# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PP_or_OPENDRAIN PIN_SPEED PULL_RESISTOR INITIAL_LEVEL AF_NUMBER
# SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
#
# DEFAULT AND SYS
DEFAULT ANALOG   	PUSHPULL	SPEED_VERYLOW	FLOATING LEVEL_HIGH AF0	ASCR_DISABLED LOCKR_DISABLED



# Figés sur Nucleo
PA13	SWDIO     	  SWDIO		AF:SYS_JTMS-SWDIO
PA14	SWCLK     	  SWDIO		AF:SYS_JTCK-SWCLK
PC14	RCC_OSC32_IN      SYS		RCC_OSC32_IN
PC15	RCC_OSC32_OUT     SYS		RCC_OSC32_OUT
PA02    VCP_TX    UART    AF:USART2_TX  3_3VOLTS    ()# CN10-35
PA03    VCP_RX    UART    AF:USART2_RX  3_3VOLTS    ()# CN10-37
PA05    LED_GREEN         LED                         # CN10-11
# PB03 : branché en interne à la sonde de prog


# Afficheur LCD
PB09    LCD_D4    OUTPUT    PUSHPULL    SPEED_HIGH # CN10-5
PD02    LCD_D5    OUTPUT    PUSHPULL    SPEED_HIGH # CN7-4
PC11    LCD_D6    OUTPUT    PUSHPULL    SPEED_HIGH # CN7-2
PC10    LCD_D7    OUTPUT    PUSHPULL    SPEED_HIGH # CN7-1
PC09    LCD_RW    OUTPUT    PUSHPULL    SPEED_HIGH # CN10-1
PC08    LCD_RS    OUTPUT    PUSHPULL    SPEED_HIGH # CN10-2
PB08    LCD_E     OUTPUT    PUSHPULL    SPEED_HIGH # CN10-3
PD03	DUMMY     INPUT     PULLDOWN
# Encodeurs
# F1 (Timer 3)
PB04    BOUTON_F1_IN_A    TIM    AF:TIM3_CH1    PULLUP    ()# CN10-27
PB05    BOUTON_F1_IN_B    TIM    AF:TIM3_CH2    PULLUP    ()# CN10-29
PC03    BOUTON_F1_SW      INPUT			PULLUP    3.3_VOLTS# CN7-37
# F2 (Timer 1)
PA08    BOUTON_F2_IN_A    TIM    AF:TIM1_CH1    PULLUP    ()# CN10-23
PA09    BOUTON_F2_IN_B    TIM    AF:TIM1_CH2    PULLUP    ()# CN10-21
PA15    BOUTON_F2_SW      INPUT			PULLUP    # CN7-17

# Mesures tensions
PC02    LOGIC_VOLTAGE    ADC    ADC1_IN3	()# CN7-35 (ratio = 0.5v/v)
PA00    SUPPLY_VOLTAGE   ADC    ADC1_IN5	()# CN7-28 (ratio = 0.248v/v)

# Horloges (ATTENTION : passer en open-drain sans pullup sur la "vraie" carte)
PB07    CLOCK_F1_OUT     PWM    OPENDRAIN AF:TIM4_CH2    ()# CN7-21
PC07    CLOCK_F2_OUT     PWM    OPENDRAIN AF:TIM8_CH2    ()# CN10-19

# Buzzer
PA10    BUZZER_IN	 INPUT    FLOATING    # CN10-33
PA04    BUZZER_OUT    	 DAC      DAC1_OUT1   () # CN7-32


# Memoire externe
PC00    MEM_SCL          I2C      AF:I2C3_SCL  ()  3_3VOLTS # CN7-38
PC01    MEM_SDA          I2C      AF:I2C3_SDA  ()  3_3VOLTS # CN7-36

# Autres fonctions
# sortie : (ATTENTION : passer en open-drain sans pullup sur la "vraie" carte)
PB00    TTL_RESET_OUT    OUTPUT    OPENDRAIN    LEVEL_LOW    3_3VOLTS # CN7-34 
# entreé
PA01    FREQMETER_IN    ICU        AF:TIM2_CH2  3.3_VOLTS ()              # CN7-30


